<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="icon" href="/images/logols.png">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css" integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
</head>
<body>
    <div class=" container-fluid">
        <!-- menu bar -->
    <div class="container-fluid bg-body-tertiary sticky-top bg-body-tertiary d-none d-lg-block">
        <div class="Menu-Bar d-block d-md-flex justify-content-between align-items-center ">
            <div class="logo">
                <img src="/images/logoMenu.jpg"  alt="PreyCode Logo" width="100" height="100" class="logo-Menu  rounded rounded-circle rounded-3 mt-2">
            </div>
            <div class="nav-link">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Frontend/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Frontend/Components/lesson.html">Lesson</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">About</a>
                    </li>
                </ul>
            </div>
            <div class="btn-research">
                <div class="input-group">
                    <input type="text" class="form-control w-25 shadow-none border-0" placeholder="Search">
                     <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
            <!-- navbar responsive  -->
    <nav class="navbar navbar-dark  bg-dark bg-opacity-75 fixed-top d-lg-none d-md-block mb-0">
  <div class="container-fluid">
    <img src="/images/logoMenu.jpg"  alt="PreyCode Logo" width="30" height="30" class="logo-Menu  rounded rounded-circle rounded-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-5" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">PreyCode E-Learning</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Frontend/Components/lesson.html">Lessons</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Exercise</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><a class="dropdown-item" href="#">Contact US</a></li>
            
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-success" type="submit">Search</button>
        </form>
            </div>
            </div>
        </div>
    </nav>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  <div class=" container-fluid bg-black bg-opacity-10 p-lg-3 p-0 mt-lg-0 mt-md-5">
    <h4 class=" mt-4 text-center fs-3 text-primary fw-semibold">Roadmap Development</h4>
    <div class="row p-2 mt-lg-5 mt-md-0">
        <div class=" col-lg-6 col-md-12">
           <div class="card border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
              <div class=" card-img-bottom ">
                <img src="/images/roadmapf.png" alt="picture" class="img-fluid object-fit-cover rounded rounded-3">
            </div>
            <div class=" card-header">
                <h4 class="text-center text-primary fw-semibold mt-3">Frontend Development</h4>
            </div>
           </div>
        </div>
         <div class=" col-lg-6 col-md-12 my-lg-0 my-3">
           <div class="card border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
              <div class=" card-img-bottom ">
                <img src="/images/backend.png" alt="picture" class="img-fluid object-fit-cover rounded rounded-3">
            </div>
            <div class=" card-header">
                <h4 class="text-center text-primary fw-semibold mt-3">Backend Development</h4>
            </div>
           </div>
        </div>
    </div>
  </div>
  <div class=" container">
    <h5 class="text-center text-primary fw-semibold mt-3">Frontend Development</h5>
    <div class="row mt-lg-5 mt-md-0">
        <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top">
                    <img src="/images/html.png" alt="not found" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">HTML</h5>
                    <p class="card-text">Learn the basics of HTML and build your first webpage.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top">
                    <img src="/images/css.png" alt="not found" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">CSS</h5>
                    <p class="card-text">Learn the basics of CSS and style your webpages.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/j.png" alt="not found" width="88%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">JavaScript</h5>
                    <p class="card-text">Learn the basics of JavaScript and make your webpages interactive.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center text-primary fw-semibold mt-5">Frontend Framework Development</h5>
      <div class="row mt-lg-5 mt-md-0">
          <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/react.png" alt="not found" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">React</h5>
                    <p class="card-text">Learn the basics of React and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/tail.png" alt="not found" width="100%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">Tailwind CSS</h5>
                    <p class="card-text">Learn the basics of Tailwind CSS and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-12 my-lg-0 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/ang.png" alt="not found" width="100%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">Angular</h5>
                    <p class="card-text">Learn the basics of Angular and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-12 my-lg-3 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/vue.png" alt="not found" width="100%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">Vue.js</h5>
                    <p class="card-text">Learn the basics of Vue.js and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-12 my-lg-3 my-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/bootstrap.png" alt="not found" width="100%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">Bootstrap</h5>
                    <p class="card-text">Learn the basics of Bootstrap and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-12 my-lg-3 mt-md-3">
            <div class="card accordion-item border border-2 border-primary rounded rounded-4 overflow-hidden p-1">
                <div class="card-img-top ">
                    <img src="/images/sas.png" alt="not found" width="97%" height="100%" class="img-fluid object-fit-cover rounded rounded-3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">SASS</h5>
                    <p class="card-text">Learn the basics of SASS and build modern web applications.</p>
                    <a href="#">
                        <button class="btn btn-primary w-100">Start Learning</button>
                    </a>
                </div>
            </div>
        </div>

      </div>

  </div>
</div>
<footer class="mt-5">
    <div class="container-fluid bg-dark bg-opacity-50 ">
        <div class="row g-0">

            <div class="col-12">
                <div class="d-lg-flex justify-content-lg-between px-lg-5 py-lg-4 p-lg-0 p-3">

                    <div class="description-part">
                        <h3 class="text-capitalize">
                            why we create PreyCode E-Learning?
                        </h3>

                        <ul class="text-capitalize">
                            <li>Sharing more benefit of coding</li>
                            <li>Open source for researching</li>
                            <li>Can learn everytime and anywhere</li>
                            <li>Free not pay for anything</li>
                        </ul>
                    </div>

                    <div class="contact-part">
                        <h3 class="text-capitalize">
                            can contact us
                        </h3>

                        <ul class="text-capitalize">
                            <li>Telegram: <span class="hanuman-font">វុទ្ធ​វី</span> <a href="https://t.me/Vyvuth" target=" _blank"><i class="fa-brands fa-telegram text-primary fs-3"></i></a></li>
                            <li>Phone Number: 093 200 503 (Smart)</li>
                            <li>Phone Number: 088 48 59 775 (Metfone)</li>
                        </ul>
                    </div>

                </div>
            </div>
            <p class=" text-danger fs-lg-4 fs-6 text-center fw-semibold text-decoration-underline">
            &copy; 2026 PreyCode E-Learning. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>